scripts-and-templates/IsolateAzureVMtoNSG.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Isolate-AzureVMtoNSG",
            "type": "String"
        }/*,
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }*/
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },

    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                //"displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                //"displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "Isolate-AzureVMtoNSG",
            "location": "northeurope",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "emailcontact": {
                            "defaultValue": "Email address of a group or person who can approve the isolation of the Azure VM",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_hosts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/host"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('HTTP')?['value']",
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Alert_-_Get_hosts')?['Hosts']",
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "Set_variable_2": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "nicputrequest",
                                                        "value": {
                                                            "location": "@{body('HTTP_4')?['location']}",
                                                            "properties": {
                                                                "ipConfigurations": [
                                                                    {
                                                                        "name": "ipconfig1",
                                                                        "properties": {
                                                                            "publicIPAddress": {
                                                                                "id": "@{body('HTTP_4')?['properties']?['ipConfigurations'][0]?['properties']?['publicIPAddress']?['id']}"
                                                                            },
                                                                            "subnet": {
                                                                                "id": "@{body('HTTP_4')?['properties']?['ipConfigurations']?[0]?['properties']?['subnet']?['id']}"
                                                                            }
                                                                        }
                                                                    }
                                                                ],
                                                                "networkSecurityGroup": {
                                                                    "id": "@{body('HTTP_5')?['id']}"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP_5": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Set_variable_3": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "nicputrequest",
                                                            "value": {
                                                                "location": "@{body('HTTP_4')?['location']}",
                                                                "properties": {
                                                                    "ipConfigurations": [
                                                                        {
                                                                            "name": "ipconfig1",
                                                                            "properties": {
                                                                                "subnet": {
                                                                                    "id": "@{body('HTTP_4')?['properties']?['ipConfigurations']?[0]?['properties']?['subnet']?['id']}"
                                                                                }
                                                                            }
                                                                        }
                                                                    ],
                                                                    "networkSecurityGroup": {
                                                                        "id": "@{body('HTTP_5')?['id']}"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@body('HTTP_4')?['properties']?['ipConfigurations'][0]?['properties']?['publicIPAddress']?['id']",
                                                                "@null"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "For_each_3": {
                                            "foreach": "@body('HTTP_2')?['data']?['rows'][0]",
                                            "actions": {
                                                "Set_variable_4": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "vmid",
                                                        "value": "@{items('For_each_3')}"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "For_each_4": {
                                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                                            "actions": {
                                                "Add_comment_to_incident_(V2)": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Value": "Soc Analyst @{parameters('emailcontact')} has ISOLATED Azure VM: @{variables('vmid')} "
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/Comment/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/@{encodeURIComponent(triggerBody()?['workspaceId'])}/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(items('For_each_4')?['properties']?['systemAlertId'])}"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP_7": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "HTTP_2": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": {
                                                    "query": "where type == 'microsoft.compute/virtualmachines' | where name contains '@{items('For_Each_2')?['HostName']}' | project vmid = id",
                                                    "subscriptions": [
                                                        "@{items('For_Each')?['subscriptionId']}"
                                                    ]
                                                },
                                                "method": "POST",
                                                "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2018-09-01-preview"
                                            }
                                        },
                                        "HTTP_3": {
                                            "runAfter": {
                                                "For_each_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",                                                    
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://management.azure.com/@{variables('vmid')}?api-version=2019-07-01"
                                            }
                                        },
                                        "HTTP_4": {
                                            "runAfter": {
                                                "HTTP_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",                                                   
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://management.azure.com/@{body('HTTP_3')?['properties']?['networkProfile']?['networkInterfaces'][0]?['id']}?api-version=2019-07-01"
                                            }
                                        },
                                        "HTTP_5": {
                                            "runAfter": {
                                                "Parse_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": {
                                                    "location": "@{body('HTTP_4')?['location']}",
                                                    "properties": {
                                                        "securityRules": [
                                                            {
                                                                "name": "Port_AnyInbound",
                                                                "properties": {
                                                                    "access": "Deny",
                                                                    "destinationAddressPrefix": "*",
                                                                    "destinationAddressPrefixes": [],
                                                                    "destinationPortRange": "*",
                                                                    "destinationPortRanges": [],
                                                                    "direction": "Inbound",
                                                                    "priority": 200,
                                                                    "protocol": "*",
                                                                    "sourceAddressPrefix": "*",
                                                                    "sourceAddressPrefixes": [],
                                                                    "sourcePortRange": "*",
                                                                    "sourcePortRanges": []
                                                                }
                                                            },
                                                            {
                                                                "name": "Port_AnyOutbound",
                                                                "properties": {
                                                                    "access": "Deny",
                                                                    "destinationAddressPrefix": "*",
                                                                    "destinationAddressPrefixes": [],
                                                                    "destinationPortRange": "*",
                                                                    "destinationPortRanges": [],
                                                                    "direction": "Outbound",
                                                                    "priority": 200,
                                                                    "protocol": "*",
                                                                    "sourceAddressPrefix": "*",
                                                                    "sourceAddressPrefixes": [],
                                                                    "sourcePortRange": "*",
                                                                    "sourcePortRanges": []
                                                                }
                                                            }
                                                        ]
                                                    }
                                                },
                                                "method": "PUT",
                                                "uri": "https://management.azure.com/subscriptions/@{split(body('Parse_JSON')?['id'], '/')[add(length(split(body('Parse_JSON')?['id'], '/')), -7)]}/resourceGroups/@{split(body('Parse_JSON')?['id'], '/')[add(length(split(body('Parse_JSON')?['id'], '/')), -5)]}/providers/Microsoft.Network/networkSecurityGroups/@{split(body('Parse_JSON')?['properties']?['networkSecurityGroup']?['id'], '/')[add(length(split(body('Parse_JSON')?['properties']?['networkSecurityGroup']?['id'], '/')), -1)]}?api-version=2019-11-01"
                                            }
                                        },
                                        "HTTP_7": {
                                            "runAfter": {
                                                "Condition": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",                                                   
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "POST",
                                                "uri": "https://management.azure.com/@{variables('vmid')}/restart?api-version=2019-07-01"
                                            }
                                        },
                                        "Parse_JSON": {
                                            "runAfter": {
                                                "HTTP_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HTTP_4')",
                                                "schema": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "location": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "dnsSettings": {
                                                                    "properties": {
                                                                        "appliedDnsServers": {
                                                                            "type": "array"
                                                                        },
                                                                        "dnsServers": {
                                                                            "type": "array"
                                                                        },
                                                                        "internalDomainNameSuffix": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "enableAcceleratedNetworking": {
                                                                    "type": "boolean"
                                                                },
                                                                "enableIPForwarding": {
                                                                    "type": "boolean"
                                                                },
                                                                "hostedWorkloads": {
                                                                    "type": "array"
                                                                },
                                                                "ipConfigurations": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "etag": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "primary": {
                                                                                        "type": "boolean"
                                                                                    },
                                                                                    "privateIPAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "privateIPAddressVersion": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "privateIPAllocationMethod": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "provisioningState": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "publicIPAddress": {
                                                                                        "properties": {
                                                                                            "id": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "subnet": {
                                                                                        "properties": {
                                                                                            "id": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "id",
                                                                            "etag",
                                                                            "type",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "macAddress": {
                                                                    "type": "string"
                                                                },
                                                                "networkSecurityGroup": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "primary": {
                                                                    "type": "boolean"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "resourceGuid": {
                                                                    "type": "string"
                                                                },
                                                                "tapConfigurations": {
                                                                    "type": "array"
                                                                },
                                                                "virtualMachine": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Initialize_variable_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",                                    
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Alert_-_Get_hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "vmid",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "vmlocation",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_3": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "nicputrequest",
                                        "type": "object",
                                        "value": {}
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_4": {
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subids",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}